In [65]:
import pandas as pd

# Load your dataset
df = pd.read_csv('cleaning data1.csv')

In [66]:
# Check data types and summary statistics
df.info()  # Data types and missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [67]:
# Check unique values for categorical columns
df.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [68]:
# Summary statistics for numerical columns
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

# Missing Data Handling

In [69]:
# Check for missing values
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [70]:
# Option : Drop rows with missing values
df.dropna(inplace=True)

In [71]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147
48790,36427429,No.2 with queen size bed,257683179,H Ai,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1

In [72]:
print(df.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

# Duplicate Removal: Identifying and eliminating duplicates.

In [76]:
# Check for duplicates
print(df.duplicated().sum())

0

# Standardization

In [78]:
# Standardizing date format
# Convert date column to a standard datetime format
df['last_review'] = pd.to_datetime(df['last_review'], format='%Y-%m-%d')

In [79]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147
48790,36427429,No.2 with queen size bed,257683179,H Ai,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1

# Outlier Detection: Identifying and handling outliers.

In [93]:
#Calculate Z-scores:
z_scores = np.abs(stats.zscore(df['price']))
print(z_scores)

0        0.033846
1        0.419648
3        0.270734
4        0.316421
5        0.292740
           ...
48782    0.067680
48790    0.494093
48799    0.470412
48805    0.214894
48852    0.570238
Name: price, Length: 38821, dtype: float64

In [94]:
# Calculate Z-scores and identify outliers
z_scores = np.abs(stats.zscore(df['price']))
outliers = df[z_scores > 3]

print("Outliers:")
print(outliers)

Outliers:
             id                                               name    host_id  \
85        19601                perfect for a family or small group      74303
496      174966              Luxury 2Bed/2.5Bath Central Park View     836168
662      250801                 Heart & Soul of Greenwich Village     1314834
691      256328          Luxury Chelsea Townhouse at the High Line    1347034
762      273190          6 Bedroom Landmark West Village Townhouse     605463
...         ...                                                ...        ...
47041  35569459         Luxury Full Floor SoHo Loft | 3 Bed/2 Bath  163029687
47063  35576863  JAVITS Beautiful Stay for your NYC Vacation *****   83819376
47391  35713184  Prospect Park Historic 1BR near 2,5,Q, B, S tr...   11503187
47400  35715171  Host yr PARTY in style -Manhattan ROOF TOP for 25   71276635
47950  36000376                   ★★ 4Br 2Ba Getaway in Chelsea ★★  268449136

                 host_name neighbourhood_group              neighbourhood  \
85                  Maggie            Brooklyn           Brooklyn Heights
496                  Henry           Manhattan            Upper West Side
662                  Rhona           Manhattan          Greenwich Village
691                 Janine           Manhattan                    Chelsea
762           West Village           Manhattan               West Village
...                    ...                 ...                        ...
47041         Anna + Jason           Manhattan                       SoHo
47063          Ryan & Mary           Manhattan             Hell's Kitchen
47391                    A            Brooklyn  Prospect-Lefferts Gardens
47400                  Joe           Manhattan         Washington Heights
47950  Alexandra & William           Manhattan                    Chelsea

       latitude  longitude        room_type  price  minimum_nights  \
85     40.69723  -73.99268  Entire home/apt    800               1
496    40.77350  -73.98697  Entire home/apt   2000              30
662    40.73129  -73.99944  Entire home/apt    850               3
691    40.74599  -74.00253  Entire home/apt    760               2
762    40.73301  -74.00268  Entire home/apt   1300               5
...         ...        ...              ...    ...             ...
47041  40.72434  -73.99945  Entire home/apt    900               3
47063  40.75438  -73.99378  Entire home/apt    843               1
47391  40.66085  -73.95586  Entire home/apt   1400              10
47400  40.83571  -73.94179  Entire home/apt    750               1
47950  40.74263  -74.00234  Entire home/apt    800               3

       number_of_reviews last_review  reviews_per_month  \
85                    25  2016-08-04               0.24
496                   30  2018-05-05               0.33
662                  107  2019-05-23               1.15
691                    7  2019-06-22               0.08
762                   28  2018-09-25               0.31
...                  ...         ...                ...
47041                  1  2019-07-06               1.00
47063                  4  2019-07-04               4.00
47391                  1  2019-07-02               1.00
47400                  1  2019-07-07               1.00
47950                  1  2019-07-01               1.00

       calculated_host_listings_count  availability_365
85                                  1                 7
496                                11                 0
662                                 1               249
691                                 1               361
762                                 4               297
...                               ...               ...
47041                               1               292
47063                               1               358
47391                               1                17
47400                               5               364
47950                               1               345

[312 rows x 16 columns]